!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://jquery.bassistance.de/treeview/demo/screen.css', type='text/css')
    link(rel='stylesheet', href='http://jquery.bassistance.de/treeview/jquery.treeview.css', type='text/css')
    script(type='text/javascript', src='http://code.jquery.com/jquery-latest.js')
    script(type='text/javascript', src='http://jquery.bassistance.de/treeview/jquery.treeview.js')
    script(type='text/javascript', src='http://jquery.bassistance.de/treeview/jquery.treeview.edit.js')
    script(type='text/javascript', src='http://jquery.bassistance.de/treeview/jquery.treeview.async.js')
  body!= body